@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  font-family: var(--lightFont);
  background: var(--bgColor);
  color: var(--lightDark);
}

/* Global Styles */
:root {
  --primaryColor: #01362e;
  --secondaryColor: #729e96dc;
  --darkGradient: rgba(4, 119, 100, 0.233);
  --lightGradient: rgba(237, 255, 255, 0.336);
  --actionColor: #b15f02;
  --bgColor: #fafafa;
  --lightDark: #212121;
  --boldFont: 'Roboto', sans-serif;
  --lightFont: 'Montserrat', sans-serif; 
  --raduis: 10px;
  /* --shadow: 0 2px 15px rgb(203, 231, 250); */
  --transition: all 0.3s linear;
  --shadow:  0px 1px 15px rgba(0, 17, 14, 0.3);
}

h1, h2, h3, h4, h5, h6 {
  /* text-shadow:  0px 4px 15px rgba(0, 17, 14, 0.3); */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
a:hover {
  text-decoration: none;
}

p {
  line-height: 1.8;
  font-family: var(--lightFont);
  color: #494949;
}


.myBtn {
  background: var(--darkGradient);
  color: var(--primaryColor);
  border-radius: var(--raduis);
  margin-right: 1em;
}
.myBtn:hover {
  color: var(--primaryColor);
  background: #fff;
}

.container {
  width: 90%!important;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

main aside {
  background: #fff;
  box-shadow: var(--shadow);
  width: 20%;
  height: 100%;
  

}
main aside .active-balance {
  text-align: center;
  padding: 20px;
}
main aside .active-balance h6 {
  margin-top: 1em;
  background: #fff;
  box-shadow: var(--shadow);
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: var(--raduis);
  color: var(--primaryColor);
  text-transform: capitalize;
}
aside .nav-list {
  margin: 2.5em 0;
}
aside .nav-list li a{
  line-height: 3;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding-left: 30px;
  text-transform: capitalize;
  color: var(--primaryColor);
  transition: var(--transition);
  border-bottom: solid 1px var(--lightGradient);
}
aside .nav-list li a:hover{
  background: var(--primaryColor);
  color: #fff;
  padding-left: 50px;
  font-weight: bold;
}

aside .ads{
  padding: 20px;
}

aside .ads .adsBtn{
  display: block;
  width: 100%;
  box-shadow: var(--shadow);
  background: #fff;
  color: var(--primaryColor);
  font-family: var(--boldFont);
  border-radius: var(--raduis);
  text-align: center;
  padding: 10px 20px;
  text-transform: capitalize;
  font-weight: bold;
}


main article {
  width: 100%;
  overflow-y: scroll;
}

main article .nav .container{
  display: flex;
  justify-content: space-between;
  padding-right: 15em;
}
main article .nav {
  background: #fff;
  /* box-shadow: var(--shadow); */
  color: #333;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
}


article .content {
  margin-top: 6em;
}

.user-avata {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-avata p{
  margin-right: 25px;
}

main article .nav .user-avata img {
  border-radius: 50%;
}
main article .nav h6{
  font-weight: bold;
  color: #333;
}

main article .nav .user-avata .notify {
  margin: 1.3rem 4rem;
  position: relative;
}
.notify .fas {
  font-size: 1.5rem;
  color: var(--primaryColor);
}

.notify .aler {
  position: absolute;
  top: -2px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--actionColor);
}

.content hr {
   background: #fff !important;
}

article .content .title {
  /* font-family: var(--boldFont); */
  /* margin-top: 5em; */
}
article .content .task-title {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}


article .content .wallet-dashboard {
  padding: 3rem 6rem;
  margin-top: 2rem;
  font-size: 16px;
  padding-top: 6rem;
  z-index: -9;
  /* box-shadow: var(--shadow); */
}

.wallet-dashboard .wallet-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

article .content .wallet-dashboard .fas {
  color: var(--actionColor);
}
article .content .wallet-dashboard h3 {
  color: var(--primaryColor);
  font-weight: 900;
}
article .content .wallet-dashboard h6 {
  color: #494949;
  text-transform: capitalize;
}
.wallet-list {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  /* bottom: -2rem; */
  /* background: var(--lightGradient); */
}



.wallet-list a {
  border: solid 1px var(--primaryColor);
  color: var(--primaryColor);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0 1rem;
  text-transform: uppercase;
  border-radius: var(--raduis);
  text-decoration: none;
  transition: var(--transition);
}
.wallet-list a:hover {
  background: #01362e;
  color: #fff;
}

.section-text .dashboard {
  /* display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; */
}
.section-text .dashboard div h5 {
  line-height: 0.9;
}

.section-text .dashboard .box {
  background: #fff;
  border-radius: var(--raduis);
  padding: 20px;
  /* margin-bottom: 1em; */
  box-shadow: var(--shadow);
  width: 100%;
  margin: 1em 1em;
  height: 140px;

}
.section-text .ref {
  white-space: wrap;
  padding: 10px;
  margin: 10px;
  border-radius: var(--raduis);
}

.section-text .instruction {
  margin-top: 2rem;
  padding: 3rem;
  background: #fff;
}


article .content .tasks {
  margin: 2rem 0;
}

article .content .tasks .task-card {
  box-shadow: var(--shadow);
  border-radius: var(--raduis);
  margin-top: 1em;
  background: #fff;
}
article .content .tasks .task-card .task-body{
  padding: 10px 20px 20px 20px;
}
article .content .tasks .task-card p{
  margin-bottom: 1em;
}

.task-body .foot {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.task-body .foot .amount {
  font-weight: bold;
  color: #cc5008;
}

 .publish {
  padding: 4px 20px;
  /* box-shadow: var(--shadow); */
  border-radius: var(--raduis);
  background: #fff;
  border: solid 1px var(--primaryColor);
  color: var(--primaryColor);
  font-weight: bold;
  transition: var(--transition);
}
.publish:hover{
  background: var(--primaryColor);
  color: #fff;
}

.upload-task .custom-file-input::-webkit-file-upload-button {
  visibility: hidden !important;
}
.upload-task .custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: var(--raduis);
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.upload-task .custom-file-input:hover::before {
  border-color: black;
}
.upload-task .custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/* Upgrade Page */

.upgrade-card {
  height: 100%;
  margin: 1% auto;
  padding: 20px;
  text-align: center;
  border-radius: var(--raduis);
}

.upgrade-card .upgrade-title {
  font-weight: bold;
  margin: 2% 0;
  text-transform: uppercase;
  color: #333;
}


.works-card {
  box-shadow: var(--shadow);
  border-radius: var(--raduis);
  padding: 20px 20px;
  margin-top: 1em;
  height: 100%;
  text-align: center;
  background: #fff;
}

.works-card .card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  text-transform: capitalize;
  text-align: left;
}

.b-1 {
  border-right: solid 4px #f54943;
}
.b-2 {
  border-right: solid 4px var(--secondaryColor);
}
.b-3 {
  border-right: solid 4px #05ff05
}

.withdraw {
  width: 50%;
  height: 100%;
  margin: 3% auto;
  box-shadow: var(--shadow);
  padding: 2em 4em;
  background: #fff;
  text-align: center;
  border-radius: var(--raduis);
}
.withdraw .title-text {
  margin-bottom: 2em;
}

 form {
  width: 100% !important;
}

form input {
  background: var(--lightGradient)!important;
  border-radius: var(--raduis) !important;
  border: solid 1px #9b9b9b!important;
  padding: 4px 20px !important;
  width: 90% !important;
  margin-bottom: 1em !important;
  font-weight: bold;
  color: #333;
  /* box-shadow: var(--shadow)!important; */
}

form > .select {
  background: var(--lightGradient)!important;
  border-radius: var(--raduis) !important;
  border: solid 1px var(--primaryColor)!important;
  width: 100% !important;
  margin-bottom: 1em !important;
  font-weight: bold;
  color: #333;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
form select:focus {
  outline: none;
}

.select option {
  font-size: 1.3em;
}

form button {
  width: 100%;
  margin: 1em 0;
}
form p {
  font-size: 16px;
}

form .btc-address {
  padding: 0 20px;
  transition: all 0.3s ease-in;
}
form .btc-address h6 {
  font-family: var(--boldFont);
  margin-bottom: 1em;
  padding: 10px;
}
form .btc-address h6:hover {
  box-shadow: var(--shadow);
  border-radius: var(--raduis);
}

form input::placeholder {
  color: #5d5d5dee;
  font-weight: bold;
}

.withdraw form .myBtn {
  font-weight: bold;
  color: var(--primaryColor);
}

/* Settings Page */
.settings {
  width: 80%;
  height: 100%;
  margin: 3% auto;
  /* box-shadow: var(--shadow); */
  padding: 2em 4em;
  background: #fff;
  /* text-align: center; */
  border-radius: var(--raduis);
}

.settings form button {
  width: 20%;
  padding: 10px;
  background:  var(--darkGradient);
  border: none;
  border-radius: var(--raduis);
  font-weight: bold;
  color: var(--primaryColor);
  font-size: 1.5em;
  box-shadow: var(--shadow);
}

.settings form button:hover {
  background: #fff;
  border: solid 1px var(--primaryColor);
  

}
.settings h4 {
  margin-bottom: 1em;
}



/* Investment */
.invest-title {
  margin: 2rem 0;
}

.investment .plans-details {
  background: #Ffff;
  padding: 20px;
  border-radius: var(--raduis);
  box-shadow: var(--shadow);
}

.investment .plans-details ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #9b9b9b;
  justify-content: space-between;
}
.investment .plans-details ul li h6 {
  font-weight: bold;
  margin-right: 4rem;
}

/* Tables section  */
.history {
  margin-top: 10rem;
}
.table-responsive {
  margin: 4rem 0;
}
.table thead {
  background: var(--darkGradient);
}

.bugger-show {
  display: none;
}

.ref-link {
  width: 80%;
  height: 300px;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(to left, #729e96c4, #729e9665), url(../../asset/happy2.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: var(--raduis);
  box-shadow: var(--shadow);
  text-transform: capitalize;
}
.ref-link h2 {
  font-size: 2.5rem;
  font-family: var(--boldFont);
  color: var(--primaryColor);
}
.ref-link h3 {
  color: #eee;
  font-weight: 700;
}
.ref-link .text a {
  background: #fff;
  padding: 15px;
  display: block;
  border-radius: var(--raduis);
  width: 50%;
  margin: 2rem auto;
  text-transform: uppercase;
  color: var(--actionColor);
  font-weight: bold;
}
.ref-link .text a:hover {
  background: var(--actionColor);
  color: #fff;
}

.post-ads {
  width: 80%;
  height: 300px;
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #031d18d0, #729e9665), url(../../asset/slider1.jpg);
  background-position: center;
  background-size: cover;
  border-radius: var(--raduis);
  box-shadow: var(--shadow);
  text-transform: capitalize;
  position: relative;
  text-align: center;
}
.post-ads h2 {
  font-size: 2.5rem;
  font-family: var(--boldFont);
  color: #fff
}

.post-ads img {
  max-width: 50%;
  height: 100%;
  object-fit: cover;
}
.post-ads h3 {
  color: #eee;
  font-weight: 700;
}
.post-ads .text, .ref-link .text {
  padding: 2rem 6rem;
  line-height: 1.5rem;
}
.post-ads .text a {
  background:  var(--actionColor);
  padding: 15px;
  width: 50%;
  margin: 2rem auto;
  display: block;
  border-radius: var(--raduis);
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.post-ads .text a:hover {
  background: var(--actionColor);
  color: #fff;
}

.ads-title {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.ads-title a {
  box-shadow: var(--shadow);
  padding: 10px 40px;
  font-weight: 900;
}


@media(max-width: 768px) {

  .settings {
    width: 100%;
  }
  .settings form button {
    width: 100%;
    box-shadow: none;
  }
  .bugger-show {
    margin: 0.5em 1.5em 0.5em 0;
    display: block;
    padding: 14px 10px 10px 10px;
  }
  .bugger-show .line {
    width: 30px;
    height: 3px;
    background: var(--primaryColor);
    margin-bottom: 4px;
  }
  main aside {
    background: #3333;
    color: #fff;
    width: 50%;
    padding: 20px;
    display: none;
  }
  
  main article {
    width: 100%;
  }
  main article .nav {
    z-index: 99;
  }
  main article .nav .container{
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }

  main article .nav .user-avata img{
    display: none;
  }

  article .nav .brand-logo img {
    width: 80%;
    height: 40px;
    margin-top: 0.6rem;
  }
  
  main article .nav .user-avata .notify {
    margin: 1.3rem 2rem;
  }
  .notify .fas {
    font-size: 1.5rem;
    color: var(--primaryColor);
  }

  

  .withdraw {
    width: 100%;
    height: 100%;
    margin: 10% auto;
    box-shadow: var(--shadow);
    padding: 2em;
    background: #fff;
    text-align: center;
    border-radius: var(--raduis);
  }

  .section-text .dashboard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  article .content .wallet-dashboard {
    padding: 2rem 3rem;
    margin-top: -1rem;
    border-radius: var(--raduis);
    z-index: -9;
  }

  .wallet-dashboard .wallet-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  article .content .wallet-dashboard h3 {
    color: var(--primaryColor);
    font-size: 1.5rem;
    font-family: var(--boldFont);
  }
  article .content .wallet-dashboard h6 {
    color: #494949;
    text-transform: capitalize;
    font-size: 1rem;
  }

  .wallet-list {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wallet-list a {
    padding: 4px 10px;
    font-size: 0.9rem;
    border: solid 1px #494949;
    border-radius: var(--raduis);
    white-space: nowrap;
    text-align: center;
    color: var(--primaryColor);
    width: 100%;
    display: inline-block;
    /* background: #fff; */
    margin: 0 5px;
  }

  .ref-link {
    width: 100%;
    height: 100%;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    background-image: linear-gradient(to left, #729e96c4, #729e9665), url(../../asset/happy2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: var(--raduis);
    box-shadow: var(--shadow);
    text-transform: capitalize;
  }
  .ref-link h2 {
    font-size: 2.5rem;
    font-family: var(--boldFont);
    color: var(--primaryColor);
  }
  
  .ref-link .text a {
    width: 100%;
  }

  .post-ads {
    width: 100%;
    height: 100%;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    background-image: linear-gradient(to left, #031d18d0, #729e9665), url(../../asset/slider1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: var(--raduis);
    box-shadow: var(--shadow);
    text-transform: capitalize;
  }
  .post-ads h2 {
    font-size: 2.5rem;
    font-family: var(--boldFont);
    color: #fff;
  }
  
  .post-ads .text a {
    width: 100%;
  }

  .post-ads .text, .ref-link .text {
    padding: 2rem 0rem;
    line-height: 1.5rem;
  }

  article .content .tasks .task-card {
    box-shadow: var(--shadow);
    border-radius: var(--raduis);
    margin-top: 2rem;
    background: #fff;
  }
  article .content .tasks .task-card .task-body{
    padding: 10px;
  }
  article .content .tasks .task-card p{
    margin-bottom: 1em;
  }
  
  .task-body .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .task-body .foot .amount {
    font-weight: bold;
    color: #cc5008;
    font-size: 1rem;
    padding-right: 5px;
  }
  
   .task-card .publish {
    padding: 4px 8px;
    font-size: 0.8rem;
  }
  .task-card .publish:hover{
    background: var(--primaryColor);
    color: #fff;
  }
}