@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Global Styles */
:root {
  --primaryColor: #081c15;
  --secondaryColor: #1b4332;
  /* --darkGradient: rgba(4, 119, 100, 0.233);
  --lightGradient: rgba(237, 255, 255, 0.336); */
  --offColorOne: #74c69d;
  --offColorTwo: #40916c;
  --actionColor: #b15f02;
  --bgColor: #fafafa;
  --lightDark: #212121;
  --boldFont: 'Anton', sans-serif;
  --lightFont: 'Ubuntu', sans-serif; 
  --raduis: 10px;
  /* --shadow: 0 2px 15px rgb(203, 231, 250); */
  --transition: all 0.3s linear;
  --shadow:  4px 10px 16px 10px rgba(36, 36, 36, 0.2);
  --shadowOne: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

html, body {
  font-size: 14px;
  font-family: var(--lightFont);
  background: #eeeeee;
  color: var(--lightDark);
}



/*
=============== 
Global Styles
===============
*/

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  /* line-height: 1.25; */
  /* margin-bottom: 0.75rem; */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}


@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    /* line-height: 1; */
  }
}

.core-btn {
  margin: 1rem 0;
  background: #d8f3dc;
  color: var(--primaryColor);
  padding: 5px 2rem;
  font-weight: bold;
  transition: var(--transition);
}
.core-btn:hover {
  border: solid 1px  #d8f3dc;
  background: transparent;
  color: #d8f3dc;
}



img {
  max-width: 100%;
  height: auto;
  display: block;
}
a:hover {
  text-decoration: none;
}

p {
  line-height: 1.8;
  font-family: var(--lightFont);
  color: #494949;
}


.myBtn {
  background: var(--darkGradient);
  color: var(--primaryColor);
  border-radius: var(--raduis);
  margin-right: 1em;
}
.myBtn:hover {
  color: var(--primaryColor);
  background: #fff;
}

.container {
  width: 90%!important;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* position: fixed; */
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
}

.modal p {
  font-size: 1.5rem;
}

main aside {
  background: var(--primaryColor);
  box-shadow: var(--shadow);
  width: 20%;
  height: 100vh;
}

.dropdown-list {
  background: var(--secondaryColor);
  transition: all 0.5s ease;
  height: 0rem;
  overflow: hidden;
}

.show-users {
  height: 18rem;
  overflow: visible;
}

.page-list {
  background: var(--secondaryColor);
  transition: all 0.5s ease;
  height: 0rem;
  overflow: hidden;
}
.show-page {
  /* display: block; */
  /* transform: translate(0%); */
  height: 9rem;
  overflow: visible;
}

.finance-list {
  background: var(--secondaryColor);
  transition: all 0.5s ease;
  height: 0rem;
  overflow: hidden;
}

.show-finance {
  height: 21rem;
  overflow: visible;
}



aside .nav-list {
  margin: 2.5em 0;
}
aside .nav-list li a{
  line-height: 3;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding-left: 30px;
  text-transform: capitalize;
  color: var(--offColorOne);
  transition: var(--transition);
  border-bottom: solid 1px var(--lightGradient);
}
aside .nav-list li a:hover{
  background: var(--primaryColor);
  color: #d8f3dc;
  padding-left: 50px;
  font-weight: bold;
}

main article {
  width: 100%;
  overflow-y: scroll;
}

main article .nav .container{
  display: flex;
  justify-content: space-between;
  padding-right: 15em;
}
main article .nav {
  background: var(--primaryColor);
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
}

article .content {
  margin-top: 6rem;
  padding: 0 3rem;
}

article .content .wallet-dashboard {
  padding: 0 1rem;
  z-index: -9;
  /* box-shadow: var(--shadow); */
}

.notify-box {
  margin: 2rem 0;
  background: #fff;
  box-shadow: var(--shadow);
  padding: 20px 3rem;
  /* width: 30%; */
  border-radius: 10px;
  /* border: solid 4px var(--primaryColor); */
  color: var(--primaryColor);
  text-align: center;
  position: relative;
  height: 170px;
  text-transform: capitalize;
  transition: var(--transition);
}


.box-1 h5, .box-2 h5 {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
}

.notify-box .fas {
  color: var(--offColorTwo);
  font-size: 3rem;
}
.notify-box .core-btn {
  border-radius: none;
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  background: #d8f3dc;
  color: var(--primaryColor);
  padding: 10px 0;
  text-transform: capitalize;
}

 .logo {
  width: 50%;
  margin-left: 1rem;
  margin-top: 1rem;
}


.task-upload {
  padding: 20px;
  background: #fff;
  box-shadow: var(--shadow);
  border-radius: 10px;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.task-upload h3 {
  color: #333;
}

.task-upload .cover-img {
  position: relative;
  object-fit: cover;
}
.task-upload .cover-img img {
  object-fit: contain;
  width: 100%;
}
.task-upload .cover-img form input{
  position: absolute;
  bottom: 0;
}

.task-upload .img-upload input {
  display:none;
}

.task-upload form .file {
  overflow: hidden;
  display:block;
  width: 100%;
  height: 150px;
  background: #fff;
  align-items: center;
  cursor:pointer;
  text-align: center;
  border: solid 1px #9b9b9b;
  margin-bottom: 1rem;
}

.task-upload .cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.task-upload form .file h3, .task-upload form .file h4 {
  font-weight: 900;
  text-transform: uppercase;
  color: #9b9b9b;
}

.task-upload .input-group input {
  border-radius: 4px;
  width: 100%;
  margin: 0.6rem 0;
  border: none;
  border: solid 1px var(--primaryColor);
  padding: 10px 2rem;
  background: none;
}

.recent-post {
  background: #fff;
  padding: 20px 20px 6px 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin: 2rem 0;

}
.recent-post .post-task-card {
  box-shadow: var(--shadowOne);
  /* padding: 6px; */
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.post-task-card .text {
  padding: 10px 20px;
}


.recent-post .task-img img{
  width: 100%;
  height: 80px;
  object-fit: cover;
}

.recent-post .btns{
  display: flex;
  justify-content: space-between;
}
.recent-post .btns button{
  display: block;
  width: 100%;
  margin-top: 5px;
  font-size: 1.1rem;
  background: transparent;
  border: none;
  transition: var(--transition);
}
.recent-post .btns #delete{
  color: red;
}

form {
  width: 100% !important;
}

form .input-field {
  /* margin: 0px 0; */
  border-radius: 10px;
  padding: 10px 0.2rem;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #504f4f;
  font-size: 1.3rem;
}

.input-field input {
  border: solid 1px #ccc;
  background: #fcfcfc;
  padding: 15px 20px;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #333;
  width: 100%;
  border-radius: 4px;
}

form select {
  background: var(--lightGradient);
  border-radius: 6px;
  padding: 1rem 0.4rem;
  width: 100%;
  /* margin-bottom: 1; */
  font-weight: bold;
  color: #333;
  border: solid 1px var(--primaryColor);
  font-size: 1.3rem;
}
form textarea {
  background: var(--lightGradient);
  border-radius: 6px;
  border: solid 1px var(--primaryColor);
  padding: 10px 2rem;
  width: 100%;
  margin-bottom: 1em;
  font-weight: bold;
  color: #333;
  font-size: 1.1rem;
}
form select:focus {
  outline: none;
}

.custom-file-inpu {
  color: transparent;
  /* border: none; */
}
.custom-file-inpu::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-inpu::before {
  font-family: "Font Awesome 5 free";
  content: '\f03e  Select business banner';
  color: var(--primaryColor);
  display: inline-block;
  background: transparent;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 10pt;
}
.custom-file-inpu:hover::before {
  border-color: black;
}
.custom-file-inpu:active {
  outline: 0;
}
.custom-file-inpu:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.select option {
  font-size: 1.3em;
}

form button {
  width: 100%;
  border: none;
  border-radius: 6px;
  background: var(--primaryColor);
  color: #d8f3dc;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 14px 0;
  text-transform: capitalize;
  transition: var(--transition);
  border: 1px solid var(--primaryColor);
  /* box-shadow: var(--shadow)!important; */
}
form button:hover {
  background: #d8f3dc;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  font-weight: 900;
  box-shadow: var(--shadow)!important;
}
form p {
  font-size: 16px;
}

/* Settings Page */
.settings {
  width: 70%;
  height: 100%;
  margin: 3% auto;
  padding: 2em 4em;
  background: #d8f3dc;
  border-radius: var(--raduis);
}

.settings h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: var(--boldFont);
}

.settings form button:hover {
  background: #fff;
  border: solid 1px var(--primaryColor);
}
.settings h4 {
  margin-top: 1em;
  font-size: 1.5rem;
}

/* User Container */

.search-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-title form .search-input {
  /* background: #d8f3dc; */
  border: solid 1px #ccc;
  width: 400px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.search-title form .search-input input {
  /* background: #d8f3dc; */
  width: 100%;
  border:  none;
  padding: 10px 20px;
  outline: none;
  font-weight: 900;
  background: transparent;
}

.users-container table {
  background: #fff;
  text-transform: capitalize;
}

.users-container {
  background: #eeeeee;
  padding: 20px;
  border-radius: 4px;
  box-shadow: var(--shadow);
}

.users-container table tr th {
  text-transform: capitalize;
  background: #74c69d;
}

.users-container table tr .fas {
  font-size: 1.3rem;
}
.users-container table tr .fa-trash {
  color: #f59292;
}
.users-container table tr .fa-pen {
  color: var(--primaryColor);
  background: #fff;
}
.users-container table tr .update {
  display: flex;
  justify-content: space-around;
}

.users-container .pagination-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.band-btn {
  width: 100%;
  border: none;
  padding: 6px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--actionColor);
  color: #fff;
  box-shadow: var(--shadowOne);
}
.unband-btn {
  width: 100%;
  border: none;
  padding: 6px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--primaryColor);
  color: #fff;
  box-shadow: var(--shadowOne);
  display: none;
}

.bandModal {
  box-shadow: var(--shadowOne);
  padding: 20px;
  background: #fff;
  text-align: center;
  width: 500px;
  margin: 4rem auto;
  position: fixed;
  top: 10rem;
  left: 40rem;
  z-index: -99;
  border-radius: 4px;
  transition: var(--transition);
  /* display: none; */
}
.bandModal .yes {
  border: none;
  background: #fff;
  color: var(--primaryColor);
  font-weight: 900;
  box-shadow: var(--shadowOne);
  padding: 10px 20px;
  border-radius: 4px;
  margin: 1rem;
  text-transform: capitalize;
}

.bandModal .no {
  border: none;
  background: #fff;
  color: var(--primaryColor);
  font-weight: 900;
  box-shadow: var(--shadowOne);
  padding: 10px;
  border-radius: 4px;
  margin: 1rem;
  width: 100px;
  text-transform: capitalize;
}

.email-form {
  background: #fff;
  box-shadow: var(--shadowOne);
  padding: 20px 30px;
  border-radius: 4px;
}

.email-form form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  font-weight: 900;
}
.email-form form textarea {
  border: solid 1px #ccc;
  font-weight: 900;
}

.email-form h3 {
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 1.2rem;
}

.email-form form button {
  background: #fff;
  color: var(--primaryColor);;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px;
  box-shadow: var(--shadowOne);
  border: solid 1px #ccc;
}

/* Affilate User */

#spinner {
  background: #b15f02;
  text-align: center;
  padding: 4px 0;
  color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-weight: bold;
}
table tr td .compeleted{
  background: #40916c;
  text-align: center;
  padding: 4px 0;
  color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-weight: bold
}

/* User Edit Card */
.user-edit-card, .user-edit-form {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: var(--shadowOne);
}

.user-edit-card .user-img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  border: solid 4px #74c69d;
}

.user-edit-card .card-body .username {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.user-edit-card .card-body ul li {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #3333;
}
.user-edit-card .card-body ul li span {
  font-weight: 900;
}
.user-edit-card .card-body ul li #spinner {
  background: none;
  color: #333;
  box-shadow: none;
}

.nav-back a{
  color: #333;
  font-weight: bold;
}
.nav-back{
  margin-bottom: 2rem;
  font-size: 1.2rem;
}


.transaction-history {
  margin: 1rem 0;
  background: #fff;
  border-radius: 4px;
}
.transaction-history .card-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: #74c69d;
  color: #fff;
  padding: 2px 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.transaction-history .card-head h3 {
  margin: 0;
}
.transaction-history .card-head .fas {
  font-size: 2rem;
  color: #fff;
  transition: var(--transition);
  transform: rotate(180deg);
}

.transaction-history .trans-tbox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

table tr th {
  text-transform: capitalize;
}

.modal h4 {
  font-weight: bold;
  text-transform: capitalize;
}

.transaction-history .trans-tbox .tbox {
  box-shadow: var(--shadowOne);
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  margin: 10px;
  width: 40%;
}
.transaction-history .trans-tbox .tbox h3{
  margin-bottom: 20px;
}

.transList {
  padding: 10px 2rem;
  height: 100%;
  /* display: none; */
}

/* Tes Card */
.tes-card {
  background: #fff;
  padding: 20px;  
  box-shadow: var(--shadowOne);
  border-radius: 4px;
}
.tes-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 1rem auto;
}
.tes-card .text {
  text-align: center;
}

/* Edit form */
.page-sections {
  background: #fff;
  padding: 20px;
  box-shadow: var(--shadowOne);
  border-radius: 4px;
}

/* Pages page */

.pageList li{
  padding: 10px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: solid 1px #cccc;
  margin-bottom: 10px;
  background: #fff;
}

.pageList li h3 {
  font-size: 1.2rem;
  margin: 0;
}
.pageList li .fa-pen {
  font-size: 1.2rem;
  color: #b15f02;
  border-bottom: solid 2px #b15f02;
}
.pageList li .fa-pen:hover {
  font-size: 1.2rem;
  color: var(--primaryColor);
  border-bottom: solid 2px var(--primaryColor);
}

.btn-approve {
  border: none;
  border-radius: 4px;
  background: #fff;
  color: var(--primaryColor);
  box-shadow: var(--shadowOne);
  padding: 6px 20px;
  font-weight: 900;
  transition: var(--transition);
  border: solid 1px #fff;
}
.btn-approve:hover {
  background: #eeee;
  border: solid 1px #333;
}
.btn-reject {
  border: none;
  border-radius: 4px;
  color: #fff;
  box-shadow: var(--shadowOne);
  padding: 6px 20px;
  font-weight: 900;
  transition: var(--transition);
  border: solid 1px #fff;
}
.btn-reject:hover {
  background: #eeee;
  border: solid 1px #333;
}

table tr td {
  /* text-align: center; */
}

.bugger-show {
  display: none;
}

form select {
  border: solid 1px #ccc;
}

/* Plans Manager */
.sec-title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.plans-manager {
  margin-bottom: 2rem;
}

/* Subscribtion plan
================================================ */
.subscribe-card {
  background: #ffff;
  height: 100%;
  padding: 2rem 1rem;
  border-radius: 6px;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  box-shadow: var(--shadowOne);
}

.subscribe-card .active-user {
  font-weight: bolder;
}

.package {
  font-family: var(--primaryFont);
  color: var(--actionColor);
}

.subscribe-card .icon {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--primaryColor);
}
.subscribe-card h2 {
  margin-bottom: -0.1rem;
  font-size: 2rem;
}
.subscribe-card .month {
  font-weight: bold;
}

.subscribe-card .prices {
  line-height: 0.4;
  text-align: left;
  width: 63%;
  margin: 1rem auto;
}

.subscribe-card .core-btn {
  background: var(--secondaryColor);
  color: #d8f3dc;
  border: solid 2px var(--secondaryColor);
  white-space: none;
}
.subscribe-card .core-btn:hover {
  background: transparent;
  border: solid 2px var(--secondaryColor);
  color: var(--secondaryColor);
}

/* Mailbox */
.mailbox {
  background: #fff;
  border-radius: 4px;
  box-shadow: var(--shadowOne);
  padding: 40px;
}


.aside-list ul li .compose-btn {
  background: var(--primaryColor);
  padding: 15px;
  color: #fff;
  font-weight: 900;
  font-size: 1.3rem;
  border-radius: 6px;
  text-align: center;
  transition: var(--transition);
}

/* Compose Message */
.compose-message form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.aside-list ul li a{
  display: block;
  margin-top: 2rem;
  color: #333;
  text-transform: capitalize;
  font-weight: 900;
  border-bottom: solid 1px #eeee;
  padding: 10px 4px;
  transform: var(--transition);
}
.aside-list ul li a:hover {
  color: #a00d0d;
  border-bottom: solid 1px #a00d0d;
}

.message-list {
  margin-top: 1.5rem;
}

.message-list .message-title {
  font-weight: 900;
  border-bottom: solid 1px #eeee;
  text-transform: capitalize;
}

.message-list li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  border-bottom: solid 1px #eeee;
  padding: 10px 0;
  transform: var(--transition);
}
.message-list li a:hover {
  background: #fafafa;
}
.message-list .user-img {
  display: flex;
  align-items: center;
}
.message-list .user-img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-list .user-img h4 {
  font-weight: 900;
  text-transform: capitalize;
}

.message-list .time h4 {
  font-weight: 900;
}

@media(max-width: 768px) {

  .logo {
    width: 40%;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .brand-logo {
    width: 40%;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .container {
    width: 90% !important;
  }

  .settings {
    width: 100%;
  }
  .settings form button {
    width: 100%;
    box-shadow: none;
  }
  .bugger-show {
    margin: 0.5em 1.5em 0.5em 0;
    display: block;
    padding: 14px 10px 10px 10px;
    transform: rotate(180deg);
  }
  .bugger-show .line {
    width: 40px;
    height: 3px;
    background: var(--offColorOne);
    margin-bottom: 5px;
  }
  .bugger-show .line:nth-last-child(3) {
    width: 26px;
  }
  main aside {
    color: #fff;
    width: 50%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 20px;
    box-shadow: var(--shadow);
    display: none;
  }
  
  main article {
    width: 100%;
  }
  main article .nav {
    z-index: 99;
    display: flex;
    align-items: center;
  }
  main article .nav .container{
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }


  .withdraw {
    width: 100%;
    height: 100%;
    margin: 10% auto;
    /* box-shadow: var(--shadow); */
    padding: 2rem;
    background: #d8f3dc;
    text-align: center;
    border-radius: var(--raduis);
  }
  
  form input {
    background: var(--lightGradient);
    border-radius: 30px;
    border: solid 1px var(--primaryColor);
    padding: 10px;
    width: 100% !important;
    margin-bottom: 1em !important;
    font-weight: bold;
    color: #333;
  }

  form button {
    width: 100%;
    border: none;
    border-radius: 6px;
    background: var(--primaryColor);
    color: #d8f3dc;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 14px 0;
    text-transform: capitalize;
    transition: var(--transition);
    border: 1px solid var(--primaryColor);
  }
  form button:hover {
    background: #d8f3dc;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    font-weight: 900;
  }

  .section-text .dashboard {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

.dashboard .text h2 {
    font-size: 1.5rem;
  }
 .dashboard .text {
    width: 200px;
  }

  article .content {
    margin-top: 6rem;
  }

  article .content .wallet-dashboard {
    padding: 2rem 3rem;
    margin-top: -1rem;
    border-radius: var(--raduis);
    z-index: -9;
  }

  .dashboard {
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    width: 100;
  }


}