@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  font-family: var(--lightFont);
  background: var(--bgColor);
  color: var(--lightDark);
}

/* Global Styles */
:root {
  --primaryColor: #00241e;
  --secondaryColor: #729e96dc;
  --darkGradient: rgba(4, 119, 100, 0.233);
  --lightGradient: rgba(237, 255, 255, 0.336);
  --bgColor: #f1f1f1;
  --lightDark: #212121;
  --boldFont: 'Roboto', sans-serif;
  --lightFont: 'Montserrat', sans-serif; 
  /* --shadow: 0 2px 15px rgb(203, 231, 250); */
  --transition: all 0.3s linear;
  --shadow:  0px 1px 15px rgba(0, 17, 14, 0.3);
}

h1, h2, h3, h4, h5, h6 {
  text-shadow:  0px 4px 15px rgba(0, 17, 14, 0.3);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  line-height: 1.8;
  font-family: var(--lightFont);
  color: #494949;
}

.content .content-title {
  margin-top: 6em;
  /* font-family: var(--boldFont); */
  font-size: 1.5em;
}

.myBtn {
  background: linear-gradient(to right, var(--lightGradient), var(--darkGradient));
  color: #333;
  border-radius: 30px;
  margin-right: 1em;
}
.myBtn:hover {
  color: var(--primaryColor);
  background: #fff;
}

.container {
  width: 90%!important;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

main aside {
  background: var(--secondaryColor);
  color: #fff;
  width: 20%;
  height: 100%;
  

}
main aside .active-balance {
  text-align: center;
  padding: 20px;
}
main aside .active-balance h6 {
  margin-top: -1em;
  background: linear-gradient(to right, var(--darkGradient), var(--lightGradient));
  box-shadow: var(--shadow);
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 30px;
  color: var(--primaryColor);
  text-transform: capitalize;
}
aside .nav-list {
  margin: 4em 0;
}
aside .nav-list li a{
  line-height: 4;
  display: block;
  width: 100%;
  padding-left: 30px;
  text-transform: capitalize;
  color: #fff;
  transition: var(--transition);
  border-bottom: solid 1px var(--lightGradient);
}
aside .nav-list li a:hover{
  background: var(--lightGradient);
  color: var(--primaryColor);
  padding-left: 30px;
}
aside .nav-list li a.active{
  background: var(--lightGradient);
  color: var(--primaryColor);
  padding-left: 50px;
  font-weight: bold;
}
aside .ads{
  padding: 20px;
}
aside .ads .adsBtn{
  display: block;
  width: 100%;
  box-shadow: var(--shadow);
  background: #fff;
  color: var(--primaryColor);
  font-family: var(--boldFont);
  border-radius: 30px;
  text-align: center;
  padding: 10px 20px;
  text-transform: capitalize;
  font-weight: bold;
}


main article {
  width: 100%;
  overflow-y: scroll;
}

main article .nav .container{
  display: flex;
  justify-content: space-between;
  padding-right: 15em;
}
main article .nav {
  background: #fff;
  box-shadow: var(--shadow);
  color: #333;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
}


article .content {
  margin-top: 5em;
}

.user-avata {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-avata p{
  margin-right: 25px;
}

main article .nav .user-avata img {
  border-radius: 50%;
  box-shadow: var(--shadow);
}
main article .nav h6{
  font-weight: bold;
  color: #333;
}

.content hr {
   background: #fff !important;
}

article .content .task-title {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}
article .content .task-title .day {
  background: linear-gradient(to right, var(--darkGradient), var(--lightGradient));
  box-shadow: var(--shadow);
  padding: 10px 30px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 30px;
  color: var(--primaryColor);
  text-transform: capitalize;
}

article .content .section-text {
  padding: 20px;
  margin: 2% 0;
  border-radius: 5px;
  z-index: -9;
  position: relative;
}

.section-text .dashboard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.section-text .dashboard div h5 {
  line-height: 0.9;
}

.section-text .dashboard div p {
  text-transform: capitalize;
}

.section-text .dashboard .box {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--shadow);
  width: 100%;
  margin: 1em 1em;
  height: 100%;
  text-align: center;
}


.b-1 {
  border-right: solid 4px #f54943;
}
.b-2 {
  border-right: solid 4px var(--secondaryColor);
}
.b-3 {
  border-right: solid 4px #05ff05;
}

.b-1:hover {
  background: #f54943;
}
.b-2 {
  background: var(--secondaryColor);
}
.b-3 {
  background: #05ff05
}



.bugger-show {
  display: none;
}

.table {
  overflow-x: auto;
  width: 90%;
  height: auto;
  margin: 5% auto;
}

table th {
  text-transform: capitalize;
}

.table tr:nth-of-type(odd) { 
  background: #eee; 
}

.table tbody td .btn-approve {
  padding: 10px;
  background: #f54943;
  color: #fff;
  font-weight: bold;
  border: none;
  box-shadow: var(--shadow);
  border-radius: 5px;
  transition: var(--transition);
}
.table tbody td .btn-approve:hover {
  background: #fff;
  color: #f54943;
}

.posted-ads h4 {
  margin-top: 4em;
  font-weight: bold;
}
.posted-ads .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  
}

.posted-ads .card img {
  opacity: 0.8;
  border-radius: 5px;
  box-shadow: var(--shadow);
  height: 15em;
  width: 20em;
}

.posted-ads .card .card-body {
  padding: 10px;
  position: absolute;
  background: rgba(12, 9, 9, 0.89);
  border-radius: 5px;
}

.posted-ads .card .card-body p, h6 {
  color: #fff;
  font-weight: bold;
}

.posted-ads .card .card-body .likes {
  font-weight: bold;
  color: #f54943;
  background: #fff;
  padding: 2px 6px;
  border-radius: 30px;
}

.posted-ads .card .card-body button {
  background: #fff;
  border: none;
  padding: 2px 8px;
  font-weight: bold;
  color: #757474;
  border-radius: 30px;
}


@media(max-width: 768px) {

  .bugger-show {
    margin: 0.5em 1.5em 0.5em 0;
    display: block;
    background: var(--darkGradient);
    padding: 14px 10px 10px 10px;
    border-radius: 50%;
    box-shadow: var(--shadow);
  }
  .bugger-show .line {
    width: 22px;
    height: 2px;
    background: var(--primaryColor);
    margin-bottom: 4px;
  }
}
